<div class="container list-page col-6">
  <h1><%= @list.name %></h1>
  <%= link_to "Delete this list",
    list_path(@list),
    data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" },
    class: "btn"
    %>
  <div class="list-cards">

      <%# link_to vtuber_path do %>
        <%= render "shared/list_display", list: @list %>
    <%# end %>
  </div>

  <div class="form col-4">
    <%# <h2>Add VTuber</h2> %>
    <%#simple_form_for [@list] do |f| %>
      <%#= f.association :vtuber %>
      <%# <div class="form-actions"> %>
      <%#= f.button :submit %>
      <%# </div> %>
    <%# end %>
  </div>
</div>
