<div class="container col-6">
  <h1><%= @list.name %></h1>
  <%= link_to "Go back", :back %>
  <div class="list-cards">

      <%# link_to vtuber_path do %>
        <%= render "shared/list_display" %>
    <%# end %>
  </div>

  <div class="container col-4">
  </div>
  <div class="container form col-4">
    <h2>Add VTuber</h2>
    <%#simple_form_for [@list] do |f| %>
      <%#= f.association :vtuber %>
      <%# <div class="form-actions"> %>
      <%#= f.button :submit %>
      <%# </div> %>
    <%# end %>
  </div>
</div>
