<div class="container list-page col-6">
  <h1><%= @list.name %></h1>
  <div class="list-cards">

      <%# link_to vtuber_path do %>
        <%= render "shared/list_display", list: @list %>
    <%# end %>
  </div>

  <div class="container form col-4">
    <%# <h2>Add VTuber</h2> %>
    <%#simple_form_for [@list] do |f| %>
      <%#= f.association :vtuber %>
      <%# <div class="form-actions"> %>
      <%#= f.button :submit %>
      <%# </div> %>
    <%# end %>
  </div>
</div>
