.footer {
  margin-top: 20px;
  text-align: center;
  height: 150px;
  // background-color: skyblue;
}

.footer-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0 5px 0 5px;
}
.footer-link:hover {
  color: $vtuber-purple;
}
