// Specific CSS for your home-page
.home-list-vtuber-row {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 6px;
  // justify-items: center;
}

.home-list-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  // text-align: center;
}

.home-list-card:hover {
  background-color: rgb(174, 255, 188);
  transition: all 0.5s;
}

.home-list-text {
  // display: flex;
  position: absolute;
  top: 10px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  // box-shadow: 0 15px 15px rgba(0,0,0,0.3);
  color: white;
  padding: 6px;
}

.home-vtuber-pic {

}

.home-vtuber-card {
  // background-size: cover;
  // background-position: center;
  position: relative;
  text-align: center;


  height: 180px;
  width: 20%px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);

  overflow: hidden;
}
