.project-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}

.project-description {
  width: 50%;
}
.project-pictures {
  width: 50%;

  flex-direction: column;
}
.project-photo {
  width: 100%;
  margin: 10px;
  border: 0.5rem solid #B9F5D8;
  border-radius: 5px;
  box-shadow: 0 0px 7px rgba(0,0,0,0.2);;
}

#vtuberlist-photo-home {
  // width: 75%;
}
