<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I'm ....</p>

        <h2>Skills</h2>
        <h3>Programming</h3>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>Javascript ES6</li>
          <li>Stimulus.js</li>
          <li>node.js</li>
          <li>React</li>
          <li>MongoDB</li>
          <li>Github</li>
          <li>Heroku</li>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
          <li>TypeScript</li>
          <li>C, C++, and C#</li>
          <li>Unity</li>
        </ul>
        <h3>Other</h3>
        <ul>
          <li>Adobe Illustrator</li>
          <li>Adobe Premiere Pro</li>
          <li>Live2D Cubism</li>
        </ul>




        <h2>Favorite Anime</h2>
        <ul>
          <li>Love Live!</li>
          <li>Non Non Biyori</li>
          <li>Yatogame-chan Kansatsu Nikki</li>
          <li>The Aquatope on White Sand</li>
          <li>Sakura Quest</li>
          <li>Zombieland Saga</li>
          <li>Vinland Saga</li>
          <li>Golden Kamuy</li>
        </ul>

        <h2>Favorite Manga</h2>
        <ul>
          <li>One Piece</li>
          <li>Death Note</li>
          <li>Yatogame-chan Kansatsu Nikki</li>
          <li>Shoulder-a-Coffin Kuro</li>
          <li>GA Geijutsu Art Design Class</li>
        </ul>

        <h2>Favorite Games</h2>
        <ul>
          <li>Rune Factory series</li>
          <li>The World Ends with You</li>
        </ul>

        <h2>Favorite VTubers</h2>
        <ul>
          <li>Raki Kazuki</li>
          <li>Usada Pekora</li>
          <li>Sakura Miko</li>
          <li>Ami Amami</li>
          <li>Phoebe Chan</li>
          <li>Amelie Kanon</li>
          <li>Mori Callipe</li>
          <li>Axel Syrios</li>
          <li>Gavis Bettel</li>
          <li>Yuuki Sakuna</li>
        </ul>

        <h2>Favorite Books</h2>
        <ul>
          <li>11/22/63</li>
          <li>Fablehaven series</li>
          <li>The Keys to the Kingdom series</li>
        </ul>
      </div>
    </div>
  </div>
</div>
