<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h1 class="title-main love-light-regular">Sunjun Hwang</h1>


        <p class="text-center">A full-stack web developer, translator, writer, and video editor.<br>
        likes making things and being creative. Dislikes following the status quo.</p>

        <div class="tab-bar">
          <ul class="list-inline tabs-underlined">
            <li>
              <span id="tech-tab" class="tab-underlined">Tech Stack</span>
            </li>
            <li>
              <span id="favorites-tab" class="tab-underlined">Favorites</span>
            </li>
            <li>
              <span id="projects-tab" class="tab-underlined">Projects</span>
            </li>
            <li>
              <span id="forbidden-tab" class="tab-underlined">Forbidden</span>
            </li>
          </ul>
        </div>

        <div id="tech-stack" class="tab-section d-none">
          <h2 class="rubik-dirt-regular">Tech Stack</h2>
          <div class="text-center">
            <h3>Programming</h3>
            <div class="justify-center">
              <div class="grid">
                <p>HTML</p>
                <p>CSS</p>
                <p>Bootstrap</p>
                <p>Javascript ES6</p>
                <p>Stimulus.js</p>
                <p>node.js</p>
                <p>React</p>
                <p>MongoDB</p>
                <p>Github</p>
                <p>Heroku</p>
                <p>Ruby on Rails</p>
                <p>PostgreSQL</p>
                <p>TypeScript</p>
                <p>C, C++, and C#</p>
                <p>Unity</p>
              </div>
            </div>
            <h3>Other</h3>
            <div class="justify-center">
              <div class="grid">
                <p>Adobe Illustrator</p>
                <p>Adobe Premiere Pro</p>
                <p>Live2D Cubism</p>
              </div>
            </div>
          </div>
        </div>

        <div id="favorites" class="tab-section d-none">
          <h2 class="rubik-dirt-regular">Favorites</h2>
          <div class="text-center">
            <h3>Favorite Anime</h3>
            <div class="justify-center">
              <div class="grid">
                <p>Every Love Live! series</p>
                <p>Non Non Biyori</p>
                <p>Yatogame-chan Kansatsu Nikki</p>
                <p>The Aquatope on White Sand</p>
                <p>Sakura Quest</p>
                <p>Zombieland Saga</p>
                <p>Vinland Saga</p>
                <p>Golden Kamuy</p>
              </div>
            </div>

            <h3>Favorite Manga</h3>
            <div class="justify-center">
              <div class="grid">
                <p>One Piece</p>
                <p>Death Note</p>
                <p>Yatogame-chan Kansatsu Nikki</p>
                <p>Shoulder-a-Coffin Kuro</p>
                <p>GA Geijutsu Art Design Class</p>
              </div>
            </div>

            <h3>Favorite Games</h3>
            <div class="justify-center">
              <div class="grid">
                <p>Rune Factory series</p>
                <p>The World Ends with You</p>
              </div>
            </div>

            <h3>Favorite Artists/Bands</h3>
            <div class="justify-center">
              <div class="grid">
                <p>DAOKO</p>
                <p>Yousei Teikoku</p>
                <p>Soutai Seiriron</p>
                <p>Yakushimaru Etsuko</p>
                <p>ALI</p>
                <p>Every Love Live! group</p>
              </div>
            </div>

            <h3>Favorite Books</h3>
            <div class="justify-center">
              <div class="grid">
                <p>11/22/63</p>
                <p>Fablehaven series</p>
                <p>The Keys to the Kingdom series</p>
                <p>The Elegance of the Hedgehog</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
