<div class="row justify-content-center banner">
  <div class="col-12">
    <div class="landscape-photo d-flex flex-column justify-content-center align-items-center">
      <%= image_tag 'meijimura.jpg', class: 'photo' %>
      <div class="caption">Art should disturb the comfortable<br>and comfort the disturbed.</div>
    </div>
  </div>
</div>
