<div class="row justify-content-center banner">
  <div class="landscape-photo col-12 d-flex flex-column justify-content-center align-items-center">
    <%= image_tag 'meijimura.jpg', class: 'photo' %>
    <div class="caption">Art should disturb the comfortable and comfort the disturbed.</div>
  </div>
  <h1 class="title-main">Sunjun Hwang</h1>
</div>
