
<div class="col-12">
  <div class="container">
    <div id="about">
      <div id="favorites" class="tab-section d-none">
        <h2 class="rubik-dirt-regular">Favorites</h2>
        <div class="text-center">
          <h3>Favorite Anime</h3>
          <div class="justify-center">
            <div class="grid">
              <p>Every Love Live! series</p>
              <p>Non Non Biyori</p>
              <p>Yatogame-chan Kansatsu Nikki</p>
              <p>The Aquatope on White Sand</p>
              <p>Sakura Quest</p>
              <p>Zombieland Saga</p>
              <p>Vinland Saga</p>
              <p>Golden Kamuy</p>
            </div>
          </div>

          <h3>Favorite Manga</h3>
          <div class="justify-center">
            <div class="grid">
              <p>One Piece</p>
              <p>Death Note</p>
              <p>Yatogame-chan Kansatsu Nikki</p>
              <p>Shoulder-a-Coffin Kuro</p>
              <p>GA Geijutsu Art Design Class</p>
            </div>
          </div>

          <h3>Favorite Games</h3>
          <div class="justify-center">
            <div class="grid">
              <p>Rune Factory series</p>
              <p>The World Ends with You</p>
            </div>
          </div>

          <h3>Favorite Artists/Bands</h3>
          <div class="justify-center">
            <div class="grid">
              <p>DAOKO</p>
              <p>Yousei Teikoku</p>
              <p>Soutai Seiriron</p>
              <p>Yakushimaru Etsuko</p>
              <p>ALI</p>
              <p>Every Love Live! group</p>
            </div>
          </div>

          <h3>Favorite Books</h3>
          <div class="justify-center">
            <div class="grid">
              <p>11/22/63</p>
              <p>Fablehaven series</p>
              <p>The Keys to the Kingdom series</p>
              <p>The Elegance of the Hedgehog</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
