
      <div id="forbidden" class="tab-section d-none">
        <h2 class="rubik-dirt-regular red">Forbidden Section</h2>
        <form class="secret-form">
          <div class="message-box">
            <p id="message">Enter password</p>
          </div>
          <div class="password-box"><input type="text" id="password-box"></div>
          <button id="forbidden-button">Enter</button>
        </form>
        <div id="secret" class="d-none">
          <h3>Karaoke</h3>
          <p>I sing karaoke badly. I also dabble in recording and mixing with Audacity and free plugins.</p>
          <div class="soundcloud">
            <iframe width="50%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1820513697%3Fsecret_token%3Ds-xJIgIkxpUoI&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/taro-yamada-463193864" title="Taro Yamada" target="_blank" style="color: #cccccc; text-decoration: none;">Taro Yamada</a> · <a href="https://soundcloud.com/taro-yamada-463193864/raktober-8/s-xJIgIkxpUoI" title="RAKTOBER  8" target="_blank" style="color: #cccccc; text-decoration: none;">RAKTOBER  8</a></div>
          </div>
          <h3>Video Editing</h3>
          <div class="flex">
            <p>I make VTuber clips. At first, I made clips for a large channel that is now inactive. Now, I have my own channel where I occasionally make clips with dumb edits.</p>
            <div class="center vertical">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/zghQqIcIwt4?si=rjHlHTQXHZzTVnnk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/2AhDSWmOWQ0?si=_VlwaLGrYpyDBQFr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
