<div class="col-12">
  <div class="container">
    <div id="tabs">
      <div class="tab-bar">
        <ul class="list-inline tabs-underlined">
          <li>
            <span id="tech-tab" class="tab-underlined">Tech Stack</span>
          </li>
          <li>
            <span id="projects-tab" class="tab-underlined">Projects</span>
          </li>
          <li>
            <span id="favorites-tab" class="tab-underlined">Favorites</span>
          </li>
          <li>
            <span id="forbidden-tab" class="tab-underlined">Forbidden</span>
          </li>
        </ul>
      </div>

      <div id="click-here">
        <i class="fa-solid fa-arrow-up" style="color: #ffffff;"></i>
        <p><strong>Click</strong></p>
      </div>

    </div>
  </div>
</div>
