
<div class="col-12">
  <div class="container">
    <div id="tech">
      <div id="tech-stack" class="tab-section d-none">
        <h2 class="rubik-dirt-regular">Tech Stack</h2>
        <div class="text-center">
          <h3>Programming</h3>
          <div class="justify-center">
            <div class="grid">
              <p>HTML</p>
              <p>CSS</p>
              <p>Bootstrap</p>
              <p>Javascript ES6</p>
              <p>Stimulus.js</p>
              <p>node.js</p>
              <p>React</p>
              <p>MongoDB</p>
              <p>Github</p>
              <p>Heroku</p>
              <p>Ruby on Rails</p>
              <p>PostgreSQL</p>
              <p>TypeScript</p>
              <p>C, C++, and C#</p>
              <p>Unity</p>
            </div>
          </div>
          <h3>Other</h3>
          <div class="justify-center">
            <div class="grid">
              <p>Adobe Illustrator</p>
              <p>Adobe Premiere Pro</p>
              <p>Live2D Cubism</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
