.banner {
  // max-height: 100vh;
}

.photo {
  width: 100%;

}

.caption {
  color: white;
  font-size: 2em;
  width: 50%;

  background: rgba(0,0,0,0.5);
  padding: 5px;

  position: absolute;
  bottom: 20px;
  left: 20px;
}

.landscape-photo {
  // width: fit-content;
  position: relative;
  text-align: center;
  height: 500px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0px 0px 20px white;
}

.title-main {
  padding-top: 10px;
  font-size: 7rem;
  text-align: center;
  color: white;
  text-shadow: white 0 0 50px;
  background-color: black;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

  transition: all 0.5s;
  // border: dotted white 10px;
  // width: 90%;
  // height: 90%;
}
