<div class="footer col-12">
  <div class="navbar-logo" >
      <%= link_to "VTuber List", :home, class: "navbar-logo" %>
    </div>
    <br>
  <strong>Sharing your oshis, made easy</strong>
  <p><strong><%= link_to "About", :about, class: "footer-link" %></strong></p>
  <p>Beta Ver. 1.0</p>
</div>
