.text-center {
text-align: center;
}
.grid {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
}
.justify-center {
  display: flex;
  // align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
