<div class="container col-12 col-lg-6">
  <div class="about-top">
    <h2>Welcome to VTuber List<h2>
  </div>
  <div class="about-body">
    <p>Hi, I'm Candy Tee, and I made VTuber List because I like VTubers.<br>
    I like them so much, I keep getting recommended streams from random VTubers every time I go on YouTube, and I compulsively add them to one of my playlists.<br>
    Eventually, I had so many VTubers saved, I forgot which ones I already saved, and every time I thought something like, "Who's that one Chinese VTuber with the sick cover of I Beg You?", I had to dig through all of my playlists just to look for that one VTuber (I never found that Chinese VTuber again, by the way).
    That's when I thought, "Screw it, I'll just make a web app for this." And that's how I made this website.</p>
  </div>
</div>
