<div>
  <div class="home-top">
    <div class="home-header" >
      <div style="display: flex; flex-direction: column;">
        <%# <h1 class="home-logo">VTuber List</h1> %>
        <h2><strong>Your lists</strong></h2>
      </div>
      <% if user_signed_in? %>
        <%= link_to new_list_path do %>
          <span class="main-button"><i class="fa-solid fa-file-circle-plus" style="align-self: center;"></i> Make a new list</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% if !user_signed_in? %>
  <div style="display: flex; justify-content: center;">
    <div class="home-empty-container">
      <h5><%= link_to "Log in", new_user_session_path %> to make a list!</h5>
      <h3>What is VTuber List?</h3>
    <p>Do you like VTubers?<br>
       Do you like discovering new VTubers?<br>
       Do you sharing your oshis with other people?<br>
       Do you have so many oshis that you lose track of them?<br>
       <strong>If the answer to any of those questions is yes, then VTuber List is for you!</strong>
    </div>
  </div>
<% elsif @lists.empty? %>
  <div style="display: flex; justify-content: center;">
    <div class="home-empty-container">
      <h5>You don't have any lists yet</h5>
    </div>
  </div>
<% else %>
  <%= render 'shared/current_user_lists', lists: @lists %>
<% end %>
