<div class="container col-6">
  <h1>VTubers</h1>
  <% @lists.each do |list| %>
    <div class="card">
      <%= list.name %>
      <p><%= list.vtuber_markers.length %> VTubers</p>
      <%= link_to "Show this list", list %>
    </div>
  <% end %>
</div>
