<div class="page-container">
  <div class="list-show-container">
    <div class="list-show-header">
      <h2>Advanced Search</h2>
    </div>
    <%# <%= form_with url: :search, method: :get do %> %>

  </div>
</div>
