<div class="container col-12 col-lg-6">
  <div>
    <h2>Submit Your Changes Here</h2>
  </div>
  <p style="color: green"><%= notice %></p>
  <div>
    <p>If there's a VTuber, agency, or tag that's not on VTuber List, submit them here.<br>
    If there's a page that's missing information or a picture, submit them here.<br>
    If you want to suggest changes to a VTuber's page, submit them here.<br>
    Contribute to VTuber List, make your oshi known, and make my job easier.<br>
  </div>
  <div>
    <%= render "form" %>
  </div>
</div>
