<div class="container col-12 col-lg-6">
  <div>
    <h2>Submit Your VTubers Here</h2>
  </div>
  <div>
    <p>If there's a VTuber who's not on VTuber List, submit them here.</p>
    <p>If there's a VTuber who's missing information or a picture, submit them here.</p>
    <p>If you want to suggest changes to a VTuber's page, submit them here.</p>
    <p>Contribute to VTuber List, make your oshi known, make my job easier.</p>
  </div>
  <div>
    <%= render "form" %>
  </div>
</div>
