// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Love+Light&family=Rubik+Dirt&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Calibri", "Helvetica", "sans-serif";

.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}
.love-light-regular {
  font-family: "Love Light", cursive;
  font-weight: 400;
  font-style: normal;
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
