.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 6px;
  // grid-gap: 16px;
}

.agency-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 6px;
}

@media (max-width: 1070px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
@media (max-width: 1070px) {
  .agency-grid{
    grid-template-columns: 1fr 1fr;
  }
}
