.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
}

.agency-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1190px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
