.navbar {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  // width: 100%;
}

.navbar-container {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.navbar-logo {
  text-decoration: none;
  font-family: 'Patrick Hand';
  font-size: 2rem;
  color: black;
}
.navbar-logo:hover {
  color: $vtuber-purple;
}

@media (max-width: 576px) {
  .navbar-logo {
    font-size: 1.5rem;
  }
}

.navbar-search {
  display: flex;
  flex-direction: column;
}

.search-toggle-button-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .toggle-button-container {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-search {
    display: none;
  }
  .toggle-button-container {
    display: block;
  }
}

.toggle-button-container {
  height: 2rem;
}
.navbar-collapse {

}

.navbar-searchbar {
  line-height: 1rem;
}
.search-button {
  // height: 1rem;
  line-height: rem;
  background-color: black;
  color: white;
  border: 0;
  padding: 5px;
  border-radius: 5px;
}
.search-button:hover {
  background-color: $vtuber-purple;
  // transition: all 0.5s;
}

.navbar-buttons {

}

.navbar-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  a{
    text-decoration: bold;
    color: black;
  }
}
.navbar-username {
  display: inline-block;

}
